#index-img {
    max-height: 210px;
    margin-bottom: 10px;
}

#get-recipes-img {
    max-height: 170px;
}

/*.get_recipes_card {*/
/*    height: 200px;*/
/*    background-image: url("https://www.goodfreephotos.com/cache/food/cooking-ingredients-with-avocado-mushrooms-eggs.jpg")*/
/*}*/