{% extends 'base.html' %} 
{% block content%}

<div class="row">
    <h2 class="center-align title-font blue-text text-lighten-3">Add a Recipe!</h2>
    <p class="standard-font">Fill in the form to add a recipe to our collection.</p> 
    <p class="standard-font">Note: Please write the ingredients rows in lowercase.</p>
</div>

<div class="row">
    <form action="{{url_for('insert_recipe')}}" method="POST" class="col s12">
        <div class="row">
            <h5 class="standard-font">Recipe Details:</h5>
            <div class="input-field col s12">
                <i class="fas fa-heading prefix"></i>
                <input id="recipe_title" name="recipe_title" type="text" class="validate">
                <label for="icon_prefix">Recipe Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">description</i>
                <textarea name="recipe_description" id="recipe_description" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Recipe Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-utensils prefix"></i>
                <input name="recipe_cuisine" id="recipe_cuisine" type="text" class="validate">
                <label for="icon_telephone">Recipe Cuisine</label>
            </div>
        </div>
        <div class="row">
            <h5 class="standard-font">Personal Details:</h5>
            <div class="input-field col s6">
                <i class="fas fa-signature prefix"></i>
                <input name="user_name" id="user_name" type="text" class="validate">
                <label for="icon_telephone">Username</label>
            </div>
            <div class="input-field col s6">
                <i class="far fa-flag prefix"></i>
                <input name="user_country" id="user_country" type="text" class="validate">
                <label for="icon_telephone">User Country</label>
            </div>
        </div>
        <div class="row">
            <h5 class="standard-font">Ingredients:</h5>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name_1" id="ingredient_name_1" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount_1" id="ingredient_amount_1" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen_1" id="ingredient_allergen_1" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name_2" id="ingredient_name_2" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount_2" id="ingredient_amount_2" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen_2" id="ingredient_allergen_2" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name_3" id="ingredient_name_3" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount_3" id="ingredient_amount_3" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen_3" id="ingredient_allergen_3" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name_4" id="ingredient_name_4" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount_4" id="ingredient_amount_4" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen_4" id="ingredient_allergen_4" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name_5" id="ingredient_name_5" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount_5" id="ingredient_amount_5" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen_5" id="ingredient_allergen_5" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name_6" id="ingredient_name_6" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount_6" id="ingredient_amount_6" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen_6" id="ingredient_allergen_6" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name_7" id="ingredient_name_7" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount_7" id="ingredient_amount_7" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen_7" id="ingredient_allergen_7" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name_8" id="ingredient_name_8" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount_8" id="ingredient_amount_8" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen_8" id="ingredient_allergen_8" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name_9" id="ingredient_name_9" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount_9" id="ingredient_amount_9" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen_9" id="ingredient_allergen_9" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name_10" id="ingredient_name_10" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount_10" id="ingredient_amount_10" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen_10" id="ingredient_allergen_10" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="row">
            <h5 class="standard-font">Method:</h5>
            <p class="standard-font">Number steps and write one step per space in the form:</p>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea name="recipe_method" id="recipe_method" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Step 1:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea name="recipe_method" id="recipe_method" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Step 2:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea name="recipe_method" id="recipe_method" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Step 3:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea name="recipe_method" id="recipe_method" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Step 4:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea name="recipe_method" id="recipe_method" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Step 5:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea name="recipe_method" id="recipe_method" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Step 6:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea name="recipe_method" id="recipe_method" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Step 7:</label>
            </div>
        </div>
        <div class="row">
            <h5 class="standard-font">Image:</h5>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="far fa-image prefix"></i>
                <textarea name="image" id="image" type="text" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Recipe Image (Paste an image URL here if available) - OPTIONAL</label>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light title-font center blue lighten-3" type="submit" name="action">Add Recipe
                <i class="material-icons right">add_box</i>
            </button>
        </div>
    </form>
</div>


{% endblock %}