{% extends 'base.html' %} 
{% block content%}

<div class="row">
    <h2 class="center-align title-font blue-text text-lighten-3">Add a Recipe!</h2>
    <p>Fill in the form to add a recipe to our collection.</p> 
    <p><strong>Note:</strong> Please write the ingredients rows in lowercase.</p>
</div>

<div class="row">
    <form action="{{url_for('insert_recipe')}}" method="POST" class="col s12">
        <div class="row">
            <h5><strong>Recipe Details:</strong></h5>
            <div class="input-field col s12">
                <i class="fas fa-heading prefix"></i>
                <input id="recipe_title" name="recipe_title" type="text" class="validate">
                <label for="icon_prefix">Recipe Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">description</i>
                <textarea name="recipe_description" id="recipe_description" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Recipe Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-utensils prefix"></i>
                <input name="recipe_cuisine" id="recipe_cuisine" type="text" class="validate">
                <label for="icon_telephone">Recipe Cuisine</label>
            </div>
        </div>
        <div class="row">
            <h5><strong>Personal Details:</strong></h5>
            <div class="input-field col s6">
                <i class="fas fa-signature prefix"></i>
                <input name="user_name" id="user_name" type="text" class="validate">
                <label for="icon_telephone">Username</label>
            </div>
            <div class="input-field col s6">
                <i class="far fa-flag prefix"></i>
                <input name="user_country" id="user_country" type="text" class="validate">
                <label for="icon_telephone">User Country</label>
            </div>
        </div>
        <div class="row">
            <h5><strong>Ingredients:</strong></h5>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name" id="ingredient_name" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount" id="ingredient_amount" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen" id="ingredient_allergen" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name" id="ingredient_name" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount" id="ingredient_amount" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen" id="ingredient_allergen" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name" id="ingredient_name" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount" id="ingredient_amount" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen" id="ingredient_allergen" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name" id="ingredient_name" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount" id="ingredient_amount" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen" id="ingredient_allergen" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name" id="ingredient_name" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount" id="ingredient_amount" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen" id="ingredient_allergen" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name" id="ingredient_name" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount" id="ingredient_amount" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen" id="ingredient_allergen" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name" id="ingredient_name" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount" id="ingredient_amount" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen" id="ingredient_allergen" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-cheese prefix"></i>
                <input name="ingredient_name" id="ingredient_name" type="text" class="validate">
                <label for="icon_telephone">Ingredient</label>
            </div>
            <div class="input-field col s6 m2">
                <i class="fas fa-sort-amount-up prefix"></i>
                <input name="ingredient_amount" id="ingredient_amount" type="text" class="validate">
                <label for="icon_telephone">Amount</label>
            </div>
            <div class="input-field col s6 m4">
                <i class="fas fa-allergies prefix"></i>
                <input name="ingredient_allergen" id="ingredient_allergen" type="text" class="validate">
                <label for="icon_telephone">Allergen</label>
            </div>
        </div>
        <div class="row">
            <h5><strong>Method:</strong></h5>
            <p>Number steps and write one step per space in the form:</p>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea name="recipe_method" id="recipe_method" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Step 1:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea name="recipe_method" id="recipe_method" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Step 2:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea name="recipe_method" id="recipe_method" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Step 3:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea name="recipe_method" id="recipe_method" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Step 4:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea name="recipe_method" id="recipe_method" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Step 5:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea name="recipe_method" id="recipe_method" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Step 6:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-list prefix"></i>
                <textarea name="recipe_method" id="recipe_method" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Step 7:</label>
            </div>
        </div>
        <div class="row">
            <h5><strong>Image:</strong></h5>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="far fa-image prefix"></i>
                <textarea name="image" id="image" type="text" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Recipe Image (Paste an image URL here if available) - <strong>OPTIONAL</strong></label>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light standard-font center blue lighten-3" type="submit" name="action">Add Recipe
                <i class="material-icons right">add_box</i>
            </button>
        </div>
    </form>
</div>


{% endblock %}