<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cookbook</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

</head>

<body>

    <header>
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{{url_for('search_recipe_title')}}">Recipe Title</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('search_cuisine')}}">Cuisine</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('search_ingredient')}}">Ingredients</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('search_username')}}">Your Username</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper blue lighten-3">
                <a href="{{url_for('index')}}" class="brand-logo heading-font">Cook Book</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates="dropdown1">Find recipes by:<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add a Recipe</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="#!">Find a Recipe</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add a Recipe</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        {% block content %} {% endblock %}

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $(".dropdown-button").dropdown({ hover: true });
            $('.modal').modal();
            $('.parallax').parallax();
        });
    </script>

</body>

</html>
