{% extends 'base.html' %} {% block content%}

<div class="row">
    <h2 class="center-align">Find a Recipe!</h2>
    <p>To begin, select how you want to search for you desired recipe:</p>
</div>

<div class="row">
    <a href="{{url_for('cuisine')}}" class="waves-effect waves-light btn grey darken-1 hoverable col s12 m4"><i class="material-icons">search</i> Cuisine</a>
    <a href="#" class="waves-effect waves-light btn pink darken-1 hoverable col s12 m4"><i class="material-icons">search</i> Find a recipe now!</a>
    <a href="#" class="waves-effect waves-light btn yellow darken-1 hoverable col s12 m4"><i class="material-icons">search</i> Find a recipe now!</a>
</div>




{% endblock %}