{% extends 'base.html' %} {% block content%}

<!--Index parallax:-->
<!--Parallax containing a welcome message for users..-->
<div class="parallax-container">
    <div class="row">
        <h2 class="col s6 m4 offset-s5 offset-m7 title-font blue-text text-lighten-3">Welcome to Cook Book!</h2>
        <h4 class="col s6 m4 offset-s5 offset-m7 title-font blue-text text-lighten-3">Where you are the author!</h4>
    </div>
    <div class="parallax"><img src="https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"></div>
</div>

<!--Most popular recipe cards:-->
<!--This will take 4 recipes from the database and display them on the index page.-->
<!--This is intended as a "need some inspiration" style section on the home page, showing the most popular recipes.-->
<div class="row">
    <h3 class="title-font center blue-text text-lighten-3">Most viewed recipes:</h3>
    <div class="row">
        <div class="carousel">
        {% for recipe in recipes %}
        {% if loop.index < 5 %} 
        <div class="col s8 m6 carousel-item">
            <a href="{{url_for('the_recipe', recipe_id=recipe._id)}}">
                <div class="card horizontal">
                    <div class="card-image valign-wrapper">
                        {% if recipe.image != "" %}
                            <img src="{{recipe.image}}" class="col s12"></img>
                        {% else %}
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png" class="col s12"></img>
                        {% endif %}
                    </div>
                    <div class="card-stacked">
                        <div class=center-align>
                            <h5 class="card-title standard-font blue-text text-lighten-3">{{recipe.recipe_title.capitalize()}}</h5>
                        </div>
                        <div class="card-content class-size">
                            <p class="standard-font black-text" id="description">{{recipe.recipe_description.capitalize()}}</p>
                            <p class="standard-font black-text"><i class="material-icons">visibility</i> {{recipe.views}}</p>
                        </div>
                        <div class="card-action">
                            <p class="standard-font orange-text"><i class="material-icons">local_dining</i> Go to recipe!</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %} 
        {% endfor %}
        </div>
    </div>
</div>


<!--Main action cards:-->
<!--Two main calls to action on the index page:-->
<!--One for searching recipes and one for adding a recipe.-->
<div class="row">
    <h3 class="title-font center blue-text text-lighten-3">Get started here:</h3>
    <div class="col s12 m12 l6">
        <div class="card medium">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/342019/pexels-photo-342019.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            </div>
            <div class="card-content">
                <span class="card-title standard-font">Find a recipe</span>
                <p class="standard-font">Click below to find a recipe on this site.</p>
            </div>
            <div>
              <a href="{{url_for('get_recipes')}}" class="waves-effect waves-light btn blue lighten-3 hoverable col s8 offset-s2 title-font white-text">Find a recipe</a>
            </div>
        </div>
    </div>
    
    <div class="col s12 m12 l6">
        <div class="card medium">
            <div class="card-image">
              <img src="https://storage.needpix.com/rsynced_images/recipe-575434_1280.png">
            </div>
            <div class="card-content">
                <span class="card-title standard-font">Add a recipe</span>
                <p class="standard-font">Click below to add a recipe to our site.</p>
            </div>
            <div>
              <a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn blue lighten-3 hoverable col s8 offset-s2 title-font white-text">Add a recipe</a>
            </div>
        </div>
    </div>
</div>





{% endblock %}
