{% extends 'base.html' %} {% block content%}
<div class="row">
    <h2 class="center-align">Welcome to Cook Book!</h2>
    <p>This is your one stop shop for recipes to try on the fly. Our app allows our users to share their own recipes and find recipes already uploaded. The more you share, there more that is there for you all to access. So please enjoy, have a look at some
        of the recipes already available, and feel free to share your own favourite recipes. Sharing is caring!</p>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card medium">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/342019/pexels-photo-342019.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            </div>
            <div class="card-content">
                <span class="card-title">Find a recipe</span>
                <p>Click below to find a recipe on this site.</p>
            </div>
            <div class="card-action red darken-1 center-align">
              <a href="{{url_for('get_recipes')}}">Find a recipe</a>
            </div>
        </div>
    </div>
    
    <div class="col s12 m6">
        <div class="card medium">
            <div class="card-image">
              <img src="https://storage.needpix.com/rsynced_images/recipe-575434_1280.png">
            </div>
            <div class="card-content">
                <span class="card-title">Add a recipe</span>
                <p>Click below to add a recipe to our site.</p>
            </div>
            <div class="card-action blue darken-1 center-align">
              <a href="{{url_for('add_recipe')}}">Add a recipe</a>
            </div>
        </div>
    </div>
</div>

    
    
    <!--<div class="card-panel col s12 m6">-->
    <!--    <div class="divider"></div>-->
    <!--    <h3 class="center-align">Find a Recipe</h3>-->
    <!--    <img src="https://images.pexels.com/photos/342019/pexels-photo-342019.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="col s12 responsive-img" id="index-img"></img>-->
    <!--    <a href="{{url_for('get_recipes')}}" class="waves-effect waves-light btn pink darken-1 hoverable col s6 offset-s3"><i class="material-icons">search</i> Find a recipe</a>-->
    <!--</div>-->

    <!--<div class="card-panel col s12 m6">-->
    <!--    <div class="divider"></div>-->
    <!--    <h3 class="center-align">Add a Recipe</h3>-->
    <!--    <img src="https://storage.needpix.com/rsynced_images/recipe-575434_1280.png" class="col s12 responsive-img" id="index-img"></img>-->
    <!--    <a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn hoverable col s6 offset-s3"><i class="material-icons">add_box</i> Add a recipe</a>-->
    <!--</div>-->



{% endblock %}
