{% extends 'base.html' %} {% block content%}
<div class="parallax-container">
    <br></br>
    <div class="row">
        <h2 class="right-align title-font">Welcome to Cook Book!</h2>
        <p class="col s4 offset-s8 heading-font">Where you are the author!</p>
    </div>
    <div class="parallax"><img src="https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"></div>
</div>

<div class="row">
    <h3 class="title-font center">Get started here:</h3>
    <div class="col s12 m6">
        <div class="card medium">
            <div class="card-image">
              <img src="https://images.pexels.com/photos/342019/pexels-photo-342019.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            </div>
            <div class="card-content">
                <span class="card-title standard-font">Find a recipe</span>
                <p>Click below to find a recipe on this site.</p>
            </div>
            <div class="card-action red darken-1 center-align">
              <a href="{{url_for('get_recipes')}}">Find a recipe</a>
            </div>
        </div>
    </div>
    
    <div class="col s12 m6">
        <div class="card medium">
            <div class="card-image">
              <img src="https://storage.needpix.com/rsynced_images/recipe-575434_1280.png">
            </div>
            <div class="card-content">
                <span class="card-title">Add a recipe</span>
                <p>Click below to add a recipe to our site.</p>
            </div>
            <div class="card-action blue darken-1 center-align">
              <a href="{{url_for('add_recipe')}}">Add a recipe</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h3 class="title-font center">Some sample recipes:</h3>
    <div class="row">
        {% for recipe in recipes %}
        {% if loop.index < 5 %} 
        <div class="col s12 m12 l6">
            <div class="card horizontal">
                    <div class="card-image">
                        {% if recipe.image != "" %}
                            <img src="{{recipe.image}}" width="400" height="200">
                        {% else %}
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png" class="col s8 offset-s2 responsive-img"></img>
                        {% endif %}
                    </div>
                <div class="card-stacked">
                    <div class=center-align>
                        <h5 class="card-title">{{recipe.recipe_title}}</h5>
                    </div>
                    <div class="card-content class-size">
                        <p id="description">{{recipe.recipe_description}}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{url_for('the_recipe', recipe_id=recipe._id)}}"><i class="material-icons">local_dining</i> Go to recipe!</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %} 
        {% endfor %}
    </div>
</div>

    
    
    <!--<div class="card-panel col s12 m6">-->
    <!--    <div class="divider"></div>-->
    <!--    <h3 class="center-align">Find a Recipe</h3>-->
    <!--    <img src="https://images.pexels.com/photos/342019/pexels-photo-342019.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="col s12 responsive-img" id="index-img"></img>-->
    <!--    <a href="{{url_for('get_recipes')}}" class="waves-effect waves-light btn pink darken-1 hoverable col s6 offset-s3"><i class="material-icons">search</i> Find a recipe</a>-->
    <!--</div>-->

    <!--<div class="card-panel col s12 m6">-->
    <!--    <div class="divider"></div>-->
    <!--    <h3 class="center-align">Add a Recipe</h3>-->
    <!--    <img src="https://storage.needpix.com/rsynced_images/recipe-575434_1280.png" class="col s12 responsive-img" id="index-img"></img>-->
    <!--    <a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn hoverable col s6 offset-s3"><i class="material-icons">add_box</i> Add a recipe</a>-->
    <!--</div>-->



{% endblock %}
