{% extends 'base.html' %} 
{% block content%}

<div class="row">
    <h2 class="center-align title-font center blue-text text-lighten-3">Search results!</h2>
    <p class="center-align">Click on the image of a recipe below to learn more about it, and see the link to the full recipe:</p>
</div>

<div class="row">
{% for recipe in username_search %}

    <div class="col s12 m6 l4">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                {% if recipe.image != "" %}
                    <img class="activator" src="{{recipe.image}}">
                {% else %}
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png" class="col s8 offset-s2 responsive-img"></img>
                {% endif %}
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{recipe.recipe_title.capitalize()}}<i class="material-icons right">more_vert</i></span>
                <p class="col s12 m6">Author: {{recipe.user.name}}</p>
                <p class="col s12 m6"><i class="material-icons">visibility</i> {{recipe.views}}</p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>{{recipe.recipe_title.capitalize()}}</span>
                <p>{{recipe.recipe_description}}</p>
                <div class="card-action">
                    <p><a href="{{url_for('the_recipe', recipe_id=recipe._id)}}"><i class="material-icons">local_dining</i> Go to recipe!</a></p>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="card-panel col s4">-->
    <!--    <h3 class="center-align">{{recipe.recipe_title.capitalize()}}</h3>-->
    <!--    <div class="divider"></div>-->
    <!--    <img src="{{recipe.image}}" class="col s8 offset-s2 responsive-img" id="index-img"></img>-->
    <!--    <div class="divider"></div>-->
    <!--    <p class="col s12 m6 center-align">Author: {{recipe.user.name}}</p>-->
    <!--    <p class="col s12 m6 center-align"><i class="material-icons">visibility</i> {{recipe.views}}</p>-->
    <!--    <a href="{{url_for('the_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn pink darken-1 hoverable col s6 offset-s3"><i class="material-icons">local_dining</i> Go to recipe!</a>-->
    <!--</div>-->

{% endfor %}
</div>
        
   


{% endblock %}