{% extends 'base.html' %} 
{% block content%}


<!--Search recipe by ingredient:-->
<!--Users will enter a search term which will be checked against ingredients in the database.-->
<!--They will then be redirected to a new page with a list of recipes matching their search criteria.-->
<div class="row">
    <h2 class="center-align title-font center blue-text text-lighten-3">Looking for a dish by an ingredient in the dish?</h2>
    <p class="standard-font">Enter the desired ingredient below to find all recipes which contain that ingredient:</p>
</div>

<div class="row">

    <form action="{{url_for('search_recipes_by_ingredient')}}" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-cheese prefix"></i>
                <input id="search_recipes_by_ingredient" name="search_recipes_by_ingredient" type="text" class="validate">
                <label for="icon_prefix">Enter Ingredient</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light title-font center blue lighten-3" type="submit" name="action">Search Recipes
                <i class="material-icons right">search</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}