{% extends 'base.html' %} 
{% block content%}

{% print(category) %}
  
        {% if category.category_name == "recipe_cuisine" %}
            {% for recipe in cuisine_search %}
                <p>{{recipe.recipe_title}}</p>
            {% endfor %}
        {% elif category.category_name == "recipe_title" %}
            {% for recipe in title_search %}
                <option value="{{recipe.recipe_title}}">{{recipe.recipe_title}}</option>
            {% endfor %}
        {% elif category.category_name == "ingredients" %}
            {% for recipe in ingredients_search %}
                <option value="{{recipe.ingredients.name}}">{{recipe.ingredients.name}}</option>
            {% endfor %}
        {% else %}
            <p>Something went wrong! Go home and try again.</p>
        {% endif %}
   


{% endblock %}