{% extends 'base.html' %} 
{% block content%}

<div class="row">
    <h2 class="center-align">Find a Recipe!</h2>
    <p>To begin, select how you want to search for you desired recipe:</p>
</div>

<div class="row">
    {% for cat in category %}
        {% if cat.category_name == "cuisine" %}
            {% for recipe in recipes %}
                {% if "search" in recipe.cuisine %}
                    <option value="{{recipe.recipe_cuisine}}">{{recipe.recipe_cuisine}}</option>
                {% else %}
                    <p>Something went wrong! Go home and try again.</p>
                {% endif %}
            {% endfor %}
        {% elif cat.category_name == "recipe.recipe_title" %}
            {% for recipe in recipes %}
                {% if "search" in recipe.recipe_title %}
                    <option value="{{recipe.recipe_title}}">{{recipe.recipe_title}}</option>
                {% else %}
                    <p>Something went wrong! Go home and try again.</p>
                {% endif %}
            {% endfor %}
        {% elif cat.category_name == "ingredients" %}
            {% for recipe in recipes %}
                {% if "search" in recipe.ingredients.name %}
                    <option value="{{recipe.ingredients.name}}">{{recipe.ingredients.name}}</option>
                {% else %}
                    <p>Something went wrong! Go home and try again.</p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Something went wrong! Go home and try again.</p>
        {% endif %}
    {% endfor %}
</div>


{% endblock %}