{% extends 'base.html' %} 
{% block content%}


<div class="row">
{% for recipe in cuisine_search %}

    <div class="card-panel col s4">
        <h3 class="center-align">{{recipe.recipe_title.capitalize()}}</h3>
        <div class="divider"></div>
        <img src="{{recipe.image}}" class="col s8 offset-s2 responsive-img" id="index-img"></img>
        <div class="divider"></div>
        <p class="col s12 m6 center-align">Author: {{recipe.user.name}}</p>
        <p class="col s12 m6 center-align"><i class="material-icons">visibility</i> {{recipe.views}}</p>
        <a href="{{url_for('the_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn pink darken-1 hoverable col s6 offset-s3"><i class="material-icons">local_dining</i> Go to recipe!</a>
    </div>

{% endfor %}
</div>        
   


{% endblock %}