{% extends 'base.html' %} 
{% block content%}

<div class="row">
    <h2 class="center-align title-font center blue-text text-lighten-3">Looking for a dish by its title?</h2>
    <p>Enter the desired recipe title below to find all recipes associated with that title:</p>
</div>

<div class="row">

    <form action="{{url_for('search_recipes_by_recipe_title')}}" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="search_recipes_by_recipe_title" name="search_recipes_by_recipe_title" type="text" class="validate">
                <label for="icon_prefix">Enter Recipe Title</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light standard-font center blue lighten-3" type="submit" name="action">Search Recipes
                <i class="material-icons right">search</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}