{% extends 'base.html' %} 
{% block content%}

<div class="row">
    <h2 class="center-align">Looking for a recipe from a particular cuisine?</h2>
    <p>Enter the desired cuisine below to find all recipes associated with that cuisine:</p>
</div>

<div class="row">

    <form action="{{url_for('search_recipes_by_cuisine')}}" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="search_recipes_by_cuisine" name="search_recipes_by_cuisine" type="text" class="validate">
                <label for="icon_prefix">Enter Cuisine</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Search Recipes
                <i class="material-icons right">search</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}