{% extends 'base.html' %} {% block content%}


<!--Thanks you (update) page:-->
<!--Users are sent to this page after they edit a recipe.-->
<!--This gives users assured feedback that their recipe has been edited.-->

<div class="row">
    <h2 class="center-align title-font center blue-text text-lighten-3">Thank you for updating a recipe in our collection.</h2>
    <p class="center_align">We appreciate the time and effort gone into editing this recipe and appreciate you sharing it with our community. Click the button
    bellow to ruturn to the home page where you can either search our recipes, or if you are feeling even more generous, add another of your
    delicious recipes.</p>
    <a href="{{url_for('index')}}" class="waves-effect waves-light btn blue lighten-3 standard-font hoverable col s12 m4 offset-m4"><i class="material-icons">home</i>Return Home</a>
</div>




{% endblock %}