{% extends 'base.html' %} 
{% block content%} 

{% for recipe in recipe %}

<!--<div class="row">-->
<!--    <div class="card-panel col s4">-->
<!--        <h3 class="center-align">{{recipe.recipe_title.capitalize()}}</h3>-->
<!--        <div class="divider"></div>-->
<!--        <img src="{{recipe.image}}" class="col s8 offset-s2 responsive-img" id="index-img"></img>-->
<!--        <div class="divider"></div>-->
<!--        <p class="col s12 m6 center-align">Author: {{recipe.user.name}}</p>-->
<!--        <p class="col s12 m6 center-align"><i class="material-icons">visibility</i> {{recipe.views}}</p>-->
<!--    </div>-->
<!--</div>-->

<div class="card-panel">
    <div class="row">
        <div class="col s8">
            <h2>{{recipe.recipe_title.capitalize()}}</h2>
            <h5 class="col s8">By {{recipe.user.name.capitalize()}} - {{recipe.user.country.capitalize()}}</h5>
            <h5 class="col s4"><i class="material-icons">visibility</i> {{recipe.views}}</h5>
        </div>
        <div class="col s4">
            <img src="{{recipe.image}}" class="col s12"></img>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12 m6">
            <h5><strong>Ingredients:</strong></h5>
            <ul class="col s6">
            {% for ingredient in recipe.ingredients.name %}
                {% if ingredient != ""%}
                    <li style="list-style-type: circle">{{ingredient.capitalize()}}</li>
                {% endif %}
            {% endfor %}
            </ul>
            <ul class="col s3">
            {% for amount in recipe.ingredients.amount %}
                {% if amount != ""%}
                    <li>{{amount.capitalize()}}</li>
                {% endif %}
            {% endfor %}
            </ul>
            <ul class="col s3">
            {% for allergen in recipe.ingredients.allergen %}
                {% if allergen != ""%}
                    <li><strong>{{allergen.capitalize()}}</strong></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <div class="col s12 m6">
            <h5><strong>Method:</strong></h5>
            <ul>
            {% for method in recipe.method %}
                {% if method != ""%}
                <li>{{method.capitalize()}}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endfor %} {% endblock %}
